@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    width: 99vw;
    margin: 0;
    padding: 0;
    background-image:radial-gradient(#E0FFFF, #E6E6FA);
    font-family: 'Press Start 2P', cursive, sans-serif;
    overflow-x: hidden;
}

img{
    width: 100%;
}

.header .container{
    position: relative;
    display: flex;
    justify-content: center;

}

.container .cor1{
    position: absolute;
    width: 99vw;
    height: 35px;
    background-color: #C7D0D8;
    bottom: 0;
}

.container .cor2{
    width: 99vw;
    height: 75px;
    background-color: #325288;
    
}

.header img{
    position: absolute;
    width: 10vw;
    height: 08vh;
    right: 0;
    top: 0;
}

.header ul{                         
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Press Start 2P', cursive, sans-serif;
    height: 13px;
    

}

.header li{
   cursor: pointer;
   list-style: none;
   font-size: 20px;
}


.banner .container{
    position: relative;
    height: 100vh;
    width: 98vw;

}

.container .logo{
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 3;
    width: 15%;
    top: 07%;

}

.container .bannerimg{
    position: absolute;
    left: 0;
    width: 101%;
    height: 80%;
    top: 0;
    
}

.container .btnbanner{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 45%;
    width: 15%;
}

.pagina .container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    
}

.pagina .spam1{
    position: absolute;
    top: 0;
    width: 30%;
    cursor: pointer;
}

.pagina .spam2{
    position: absolute;
    width: 20%;
    z-index: 1;
    right: 05%;
    top: 0;
    cursor: pointer;
}

.pagina .spam3{
    position: absolute;
    top: 0;
    width: 40%;
    height: 250px;
    left: 05%;
    cursor: pointer;
}

.pagina .spam4{
    position: absolute;
    left: 0;
    width: 15%;
    height: 700px;
    top: 13%;
    cursor: pointer;
    
}

.pagina h1{
    margin-top: 500px;
    margin-left: 95px;
}

.sobre{
    width: 90%;
    height: 15000px;
    
}

.sobre .container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}

.container .p1{
    margin-top: 05%;
    margin-left: 23%;

}

.container .celularHelloKitty{
    position: absolute;
    width: 20%;
    top: 200px;

}
.container .p2{
  position: absolute;
  top: 310px;
  left: 25%;
}

.container .gifBomDia{
    position: absolute;
    width: 40%;
    top: 590px;
    left: 38%;
}

.container .p3{
    position: absolute;
    top: 450px;
    left: 25%;
}

.container .titulo{
    position: absolute;
    top: 1200px;
    left: 15%;
}

.container .p4{
    position: absolute;
    top: 1380px;
    left: 15%;
}

.container .mariMoon{
    position: absolute;
    width: 20%;
    top: 1490px;
    left: 15%;
    border: 4mm groove 	#000080;
    box-shadow: 10px 5px 5px #777;
}

.container .p5{
    position: absolute;
    top: 1490px;
    left: 40%;
}

.container .p6{
    position: absolute;
    top: 1780px;
    left: 40%;
}

.container .marte2013{
    width: 19%;
    margin-top: 1800px;
    margin-left: 05%;
    border: 4mm groove 	#000080;
    box-shadow: 10px 5px 5px #777;
}

.container .marte2015{
    position: absolute;
    width: 20%;
    left: 30%;
    top: 1920px;
    border: 4mm groove 	#000080;
    box-shadow: 10px 5px 5px #777;
}

.container .marte2018{
    position: absolute;
    width: 18%;
    left: 58%;
    top: 1920px;
    border: 4mm groove 	#000080;
    box-shadow: 10px 5px 5px #777;
}

.container .marte2022{
    position: absolute;
    width: 15%;
    left: 85%;
    top: 1920px;
    border: 4mm groove 	#000080;
    box-shadow: 10px 5px 5px #777;
}

.date .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10%;
}

.date .date2022{
    margin-top: 50px;
    margin-right: 16px;
}

.container .titulo2{
    margin-top: 10%;
    margin-left: 15%;
}

.container .hermesERenato{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%;
}

.container .p7{
    position: absolute;
    top: 2600px;
    left: 65%;
}

.container .titulo3{
    margin-top: 10%;
    margin-left: 15%;
}


.container .subtitulo{
    margin-left: 15%;
}

.container .p8{
    position: absolute;
    top: 3180px;
    left: 63%;

}

.container .titulo4{
    margin-top: 10%;
    margin-left: 15%;
}

.container .subtitulo2{
    margin-left: 15%;
}

.container .p9{
    margin-left: 15%;
    margin-top: 5%
}

.container .p10{
    margin-left: 15%;
}

.container .gifVapor{
    width: 60%;
    margin-left: 26%;
    margin-top: 5%;
}
    

.container .p11{
    margin-left: 15%;
    margin-top: 5%;
}

.container .titulo5{
    margin-left: 15%;
    margin-top: 10%;
}

.container .subtitulo3{
    margin-left: 15%;
}

.container .p12{
margin-left: 15%;
}

.container .smile{
    width: 40%;
    margin-left: 15%;
}

.container .subtitulo4{
    position: absolute;
    top: 6350px;
    left: 60%;
}

.container .p13{
    margin-left: 15%;
}

.container .p14{
    margin-left: 15%;
}

.container .akiraGif{
    width: 50%;
    margin-left: 15%;
    margin-top: 20px;
}

.container .p15{
    position: absolute;
    top: 95.3%;
    left: 68%;
}

.container .titulo6{
    position: absolute;
    top: 101%;
    left: 25%;
}

.container .p16{
    position: absolute;
    top: 101.8%;
    left: 15%;
}

.metrica{
    display: flex;
    justify-content: center;
}

.metrica .container{
    width: 700px;
}

.metrica h3{
margin-left: 28%
}

.footer .container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    
}

.container .corfooter{
    position: absolute;
    width: 99vw;
    height: 04vh;
    background-color: #C7D0D8;
    bottom: 0;
    
    
}

.container .btnleft{
    position: absolute;
    width: 02vw;
    bottom: 0;
}

.container .btnright{
    position: absolute;
    right: 0;
    width: 02vw;
    bottom: 0;

}






    





